name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          cache: "npm"
          node-version: "24"

      - name: Install dependencies
        run: npm ci

      - name: Build code
        run: |
          npm run build
